:root {
    --coursecard-text-color: white;
    --coursecard-border-color: rgb(23, 23, 107);
    --coursecard-background-color: hsl(28, 32%, 92%);
    --coursecard-margin: 30px;
    --coursecard: 6px;
  }

  .CourseCard {
    background-color: var(--coursecard-background-color);
    border: 1px solid var(--coursecard-border-color);
    border-radius: 6px;
    border-left-width: 6px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
    padding: 5%;
    margin: 5%;
    max-width: 80%;
    min-width: 80%;
    min-height: 5%;
    justify-self: center;
    flex: flex;
    flex-direction: column;
  }
  
  .CourseCard .CourseCard-Title {
    text-align: left;
    flex: 4;
    max-width: 60%;
    font: "McKinley";
    text-decoration-color: var(--coursecard-text-color);
    font-size: medium;
    display: inline-block;
    word-wrap: break-word;
  }

  .CourseCard .CourseCard-Requirement {
    text-align: left;
    font: "McKinley";
    text-decoration-color: var(--coursecard-text-color);
    font-size: small;
    display: inline-block;
    flex: 1;
    max-width: 15%;
    padding-right: 5%;
  }


  .CourseCard .CourseCard-Text {
    text-align: left;
    font: "McKinley";
    text-decoration-color: var(--coursecard-text-color);
    font-size: small;
    display: inline-block;

  }
  
